html, body {
    min-height: 100%;
    }
    body, div, form, input, label { 
    padding: 0;
    margin: 0;
    outline: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 13px;
    color: #666;
    line-height: 22px;
    }
    legend { 
    color: #fff;
    background-color: #095484;
    padding: 3px 5px;
    font-size: 20px;
    }
    h1 {
    position: absolute;
    margin: 0;
    font-size: 36px;
    color: #fff;
    z-index: 2;
    }
    .testbox {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 20px;
    }
    form {
    width: 100%;
    padding: 20px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 0 20px 0  #095484; 
    }
    .banner {
    position: relative;
    height: 120px;
    background-image: url("/static/assets/H.jpg"); 
    background-color: rgb(5, 120, 173);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
    .banner::after {
    content: "";
    
    position: absolute;
    width: 100%;
    height: 100%;
    }
    input {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    }
    input {
    width: calc(100% - 10px);
    padding: 5px;
    }
    select {
    width: 100%;
    padding: 7px 0;
    background: transparent;
    }
    input[type="date"] {
    padding: 4px 5px;
    }
    .item:hover p, .item:hover i, .question:hover p, .question label:hover, input:hover::placeholder {
    color:#095484;
    }
    .item input:hover {
    border: 1px solid transparent;
    box-shadow: 0 0 6px 0 #095484;
    color:#095484;
    }
    .item {
    position: relative;
    margin: 10px 0;
    }
    .item span {
    color: red;
    }
    input[type="date"]::-webkit-inner-spin-button {
    display: none;
    }
    .item i, input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    font-size: 20px;
    color: #095484;
    }
    .item i {
    right: 2%;
    top: 30px;
    z-index: 1;
    }
    [type="date"]::-webkit-calendar-picker-indicator {
    right: 1%;
    z-index: 2;
    opacity: 0;
    cursor: pointer;
    }
    .question span {
    margin-left: 30px;
    }
    .btn-block {
    margin-top: 10px;
    text-align: center;
    }
    button {
    width: 150px;
    padding: 10px;
    border: none;
    border-radius: 5px; 
    background: #095484;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    }
    button:hover {
    background: #4286f4;
    }
    @media (min-width: 568px) {
    .name-item, .city-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    }
    .name-item input, .city-item input,.name-item div {
    width: calc(50% - 20px);
    }

    .button_loginnn {
  background-color: #1c87c9;
  border: none;
  color: white;
  padding: 8px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
    .name-item div input {
    width:97%;}
    .name-item div label {
    display:block;
    padding-bottom:5px;
    }
    }